* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15%;
    background-color: #5AA062;
    position:sticky;
    height: 100px;
}

.options-header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 13%;
}

.option-header {
    padding: 6%;
    white-space: nowrap;
    font-weight: bold;
}

.img-header {
    width: 55%;
}

.login-btn {
    background-color: #2C2C2C;
    color: white;
    padding: 14%;
    border-radius: 4px;
}

.saida-icon {
    width: 15px;
    margin-right: 10px;
}